<div class="panel panel-default">
  <div class="panel-body">
    <h5><%= @question.content %></h5>
    <br>
    By: <%= @user.name %>
    <%= link_to new_question_answer_path(@question) do %>
      <button class="btn btn-primary pull-right">
        Answer this Question
      </button>
    <% end %>
  </div>
</div>


<% if @answers.any? %>
  <h5>Answers:</h5>

  <% if @best_answer %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5>Best Answer!</h5>
      </div>
      <div class="panel-body">
        <%= @best_answer.content %>

        <span class="pull-right">
          <%= form_for [@question, @best_answer] do |f| %>
            <%= f.hidden_field :best_answer, value: false %>
            <%= f.submit "Remove as Best Answer", class: "btn btn-xs btn-default" %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <ul class="list-group">
      <% @answers.each do |answer| %>
        <% unless answer == @best_answer %>
          <li class="list-group-item"><%= answer.content %> -
            <% if answer.user %>
            <%= answer.user.name %>
            <% else %>
            Deleted user
            <% end %>
            <% if @user_is_author %>
            <span class="pull-right">
              <%= form_for [@question, answer] do |f| %>
                <%= f.hidden_field :best_answer, value: true %>
                <%= f.submit "Mark as Best Answer", class: "btn btn-xs btn-default" %>
              <% end %>
            </span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
